* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #F3F5F8;
  display: flex;
  //justify-content: flex-start;
  //justify-content: flex-end;
  //justify-content: center;
  //justify-content: space-around;
  height: 15vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}


div{
  //border: solid;
  display: flex;
  justify-content: space-between;
  width: 12%;
  align-items: center;
}

//h1 {  border: solid red; }

nav {
  border: #5e7597;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4B5563;
}

  .btnVerdeHeader{
  background-color: #21C05C;
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}

//Primeira Section 
.primeiraSection{
  background-color: yellow;
  height: 50vh;

section{
  border: solid;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
}



.produtosDisponiveis {
  background-color: rgb(203, 244, 230);
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
}

.produtosDisponiveis article {
  border: solid red;
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
  border: solid;
}

.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1.2rem;


}