* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  background-color: #F3F5F8;
  //justify-content: flex-start;
  //justify-content: flex-end;
  //justify-content: center;
  justify-content: space-around;
  height: 15vh;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
}


.caixaLogo{
  //border: solid;
  display: flex;
  justify-content: space-evenly;
  width: 12%;
  align-items: center;
}

//h1 {  border: solid red; }

nav {
  border:#5e7597;                                                                    display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4B5563;
}

.btnVerdeHeader{
  background-color: #21C05C;
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}

//----------------- Primeira section - Desktop ------------
.primeiraSection{
  border: solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
    
  section{
    border: solid green;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly

    h2{
      font-size: 3.75rem;
      font-weight: 700;
      width: 55%;
      border: solid red;
    }

    p{
      font-size: 1.25rem;
      width: 50%;
      border: solid blue;
    }
  }
}

.boxBtnsPrimeiraSection{
  border: solid purple;
  width: 50%;
  display: flex;
  justify-content: space-around;
  
  button{
    cursor: pointer;
    padding: 30px 40px;
  }
}


//-------------------------- Dados Numéricos -----------

.dadosNumericos{
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;
 
  div{
    border: solid;
    width: 15%;
    height: 15vh;
    flex-direction:column;
    justify-content: space-evenly;
  }

  h2{
    color:#16a34a;
  }

}






//----------------------- Section Produtos Disponiveis --------------

.produtosDisponiveis {
  background-color: rgb(203, 244, 230);
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;
}

.produtosDisponiveis article {
  border: solid red;
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
  border: solid;
}

.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1.2rem;
}


//Responsivo

//Smartphone max: 500px
//@media(min-width: ;) and (max-width: ;) { 

//}

//  Quero que você aplique esse estilo em tllas de 0px até 500px
//Smartphone max: 500px


@media (max-width: 500px) {
  
  header{
    display: flex;
    flex-direction: column;
    height: 20vh;
  }

  .caixalogo{
    border:solid;
    width: 70%;
  }

  nav{
    border:solid;
    width: 100%;
  }

  a{
    font-size: 0.8rem;
  }

  //------------- Primeira Section - Mobile -------------
  .primeiraSection{
    background-color: violet;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;


  section{

  height: 70vh;
  background-color: #16a34a;

    h2{
      font-size: 1.5rem;
      width: 100%;
    }

    p{
      width: 100%;
    }
    
  }


  .boxBtnsPrimeiraSection{
    width: 100%;

    button{
      padding: 20px 30px;
    }
  }

  img{
    width: 50%;
  }

  }


  //--------- Section Dados numericos ------------

  .dadosNumericos{
    background-color: yellow;
    height: 25vh;

    div{
      width: 25%;
    }

    h2{
      font-size: 1.8rem;
    }

    p{
      font-size: 1rem;
    }
  }



  //--------- Section Produtos Disponiveis -----------

.produtosDisponiveis{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
}